@model Meow.Models.Profile.ProfileCatModel

@{
    ViewBag.Title = "Katzenprofil";
}

<h1>Das Profil der Katze</h1>

<form method="get">
       
    <!---->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Katzenname</th>
                <th>Passwort</th>
                <th>E-Mail</th>
                <th>Kätzchen seit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Username</td>
                <td>@Model.Password</td>
                <td>@Model.Email</td>
                <td>@Model.CreatedAt</td>
            </tr>
        </tbody>
    </table>
    

</form>