@model Meow.Models.Search.SearchModel

@{
    ViewBag.Title = "Search";
}

<form method="post">
    <div class="input-group">
        <input type="text" name="SearchString" id="SearchString" class="form-control" placeholder="Search meows..." />
        <span class="input-group-btn">
            <button type="submit" name="Suchen" id="Suchen" class="btn btn-default">Suchen</button>
        </span>
</div>
</form>

@if(Model != null && Model.Meows != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Inhalt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Meow in Model.Meows)
            {
                <tr>
                    <td>@Meow.Created.ToString("yyyy.MM.dd")</td>
                    <td>@Meow.Text</td>
                </tr>
            }
        </tbody>
    </table>
}