@model Meow.Models.Home.IndexModel

@{
    ViewBag.Title = "Index";
}
<br/>
<br/>

<form class="form-horizontal" method="post">
    <input type="text" class="col-sm-5" name="Text"/>
    <button type="submit" >Meow!</button>
</form>

<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Meow</th><th>meowed by</th><th>at</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.Messages)
            {
            <tr>
                <td>@message.Text</td>
                <td>@message.Cat.Username</td>
                <td>@message.Created.ToString("dd.MM.yyyy")</td>
            </tr>
        }   </tbody>
</table>


