@model Meow.Models.Home.IndexModel

@{
    ViewBag.Title = "Index";
}

Hello .NET-World

<form method="post">
    <input type="text" name="Text"/>
    <input type="submit" value="Meow!" />
</form>