@model Meow.Models.Home.IndexModel

@{
    ViewBag.Title = "Index";
}
<br/>
<br/>

<form class="form-horizontal center-block" method="post">
    <input type="text" class="col-sm-5" name="Text"/>
    <button type="submit" >Meow!</button>
</form>

@foreach (var message in Model.Messages)
            {
    <blockquote class="col-lg-4">
        <p>@message.Text</p>
        <footer>
            @message.Cat.Username
            <a href="/Home/Index">@message.Created.ToString("dd.MM.yyyy")</a>
        </footer>
    </blockquote>
}
<p/>



