@model Meow.Models.Account.ProfileCatModel

@{
    ViewBag.Title = "Katzenprofil";
}

<h1>Das Profil der Katze</h1>

<form method="post">

    <label for="Username">Katzenname</label>@Model.Username
    <label for="Email">E-Mail</label>@Model.Email
    <label for="Password">Passwort</label>@Model.Password
    <label for="Password">Kätzchen seit</label>@Model.CreatedAt
</form>